page-sobre {

}
.perfil-pic{
  width: 100%;
  height: 180px;
}
.imagem-pic{
  width: 150px;
  height: 150px;
  position:absolute;
	left:50%;
	margin-left:-75px;
} 
.titulo{
  text-align: center;

}
.mensage{
  text-align: justify;
}
