<!--
  Generated template for the EditarEvento page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="zfix-header">

  <ion-navbar   color="laranja">
    <ion-title>Editar Evento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngIf="editar">
      <ion-label floating >Título</ion-label>
      <ion-input type="text" [(ngModel)]="evento.Titulo"></ion-input>
    </ion-item>
    <ion-item *ngIf="!editar">
      <div style="font-size: 13px; color: black; padding-top: 1px; padding-bottom: 9px">Título</div>
      <h2 color="dark">{{evento.Titulo}}</h2>
    </ion-item>

    <ion-item *ngIf="editar">
      <ion-label floating>Descrição</ion-label>
      <ion-input type="text" [(ngModel)]="evento.Descricao"></ion-input>
    </ion-item>
    <ion-item *ngIf="!editar">
      <div style="font-size: 13px; color: black; padding-top: 1px; padding-bottom: 9px">Descrição</div>
      <h2 color="dark">{{evento.Descricao}}</h2>
    </ion-item>

    <ion-item *ngIf="editar">
      <ion-label floating>Local</ion-label>
      <ion-input type="text" [(ngModel)]="evento.Local"></ion-input>
    </ion-item>
    <ion-item *ngIf="!editar">
      <div style="font-size: 13px; color: black; padding-top: 1px; padding-bottom: 9px">Local</div>
      <h2 color="dark">{{evento.Local}}</h2>
    </ion-item>

    <ion-item *ngIf="editar">
      <ion-label floating>Início</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="evento.DataInicio"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="!editar">
      <div style="font-size: 13px; color: black; padding-top: 1px; padding-bottom: 9px">Início</div>
      <h2 color="dark">{{evento.DataInicio}}</h2>
    </ion-item>

    <ion-item *ngIf="editar">
      <ion-label floating>Término</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="evento.DataTermino"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="!editar">
      <div style="font-size: 13px; color: black; padding-top: 1px; padding-bottom: 9px">Término</div>
      <h2 color="dark">{{evento.DataTermino}}</h2>
    </ion-item>

    <ion-item *ngIf="evento.EventoDiario && !editar">
      <ion-label>Dia Inteiro</ion-label>
    </ion-item>

    <ion-item *ngIf="editar">
      <ion-label>Dia Inteiro</ion-label>
      <ion-toggle [checked]="evento.EventoDiario" [(ngModel)]="evento.EventoDiario" disabled="{{!editar}}"></ion-toggle>
    </ion-item>

    <!--Caso não seja dia inteiro, escolher horários-->
    <ion-item *ngIf="!Allday && !evento.EventoDiario && editar">
      <ion-label floating>Hora de início</ion-label>
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="evento.HoraInicio"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="!evento.EventoDiario && !editar">
      <div style="font-size: 13px; color: black; padding-top: 1px; padding-bottom: 9px">Horário de início</div>
      <h2 color="dark">{{evento.HoraInicio}}</h2>
    </ion-item>
    <ion-item *ngIf="!Allday && !evento.EventoDiario && editar">
      <ion-label floating >Hora de término</ion-label>
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="evento.HoraTermino"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="!evento.EventoDiario && !editar">
      <div style="font-size: 13px; color: black; padding-top: 1px; padding-bottom: 9px">Horário de término</div>
      <h2 color="dark">{{evento.HoraTermino}}</h2>
    </ion-item>
  </ion-list>
  <!--Botão para adicionar evento-->
  <button *ngIf="editar" ion-button block (click)="salvar()">Salvar Edição</button>
  <!--Botão para Cancelar evento-->
  <button *ngIf="editar" ion-button block (click)="cancelar()">Cancelar Edição</button>
  <!--Botão para Excluir evento-->
  <button *ngIf="editar" ion-button block color="danger" (click)="excluir()">Deletar Evento</button>

  <ion-fab *ngIf="!editar && permissao=='a'" class="floating-button-adm" right bottom>
   <button ion-fab (click)="habEditar()">
     <ion-icon name="create"></ion-icon>
   </button>
 </ion-fab>
</ion-content>
