<ion-header>
  <ion-navbar color="laranja">
    <ion-title>Meu Perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab class="floating-button" bottom right>
    <button ion-fab (click)="editarAction()">
     <ion-icon *ngIf="!editar" name="create"></ion-icon>
     <ion-icon *ngIf="editar" name="done-all"></ion-icon>
   </button>
  </ion-fab>

  <div *ngIf="loading">
    <!--Imagem do usuario-->
    <div class="perfil-pic" (click)="alterarFoto()">
      <div>
        <img src="{{userAtual.foto}}" alt="foto perfil" height="200" width="200">
      </div>
    </div>

    <!--Campos de dados do usuário -->
    <form [formGroup]="user">
      <ion-list no-lines>
        <ion-item *ngIf="!editar">
          <div style="font-size: 13px; color: LightGray; padding-top: 1px; padding-bottom: 9px">Nome Completo</div>
          <h2 style="color: gray">{{userAtual.nome}}</h2>
        </ion-item>

        <ion-item *ngIf="editar">
          <ion-label floating>Nome Completo</ion-label>
          <ion-input type="text" formControlName="nome"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Data de Nascimento</ion-label>
          <ion-datetime displayFormat="DD/MMM/YYYY" formControlName="nascimento" [disabled]="!editar"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label floating>Gênero</ion-label>
          <ion-select formControlName="genero" [disabled]="!editar">
            <ion-option value="Masculino">Masculino</ion-option>
            <ion-option value="Feminino">Feminino</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="!editar">
          <div style="font-size: 13px; color: LightGray; padding-top: 1px; padding-bottom: 9px">Email</div>
          <h2 style="color: gray">{{userAtual.email}}</h2>
        </ion-item>

        <ion-item *ngIf="editar">
          <ion-label floating>Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item *ngIf="editar">
          <ion-label floating>Senha Atual</ion-label>
          <ion-input type="password" formControlName="senhaatual"></ion-input>
        </ion-item>

        <ion-item *ngIf="editar">
          <ion-label floating>Nova Senha</ion-label>
          <ion-input type="password" formControlName="senha"></ion-input>
        </ion-item>

        <ion-item *ngIf="editar" style="border-bottom-color: transparent">
          <ion-label floating>Repetir Senha</ion-label>
          <ion-input type="password" formControlName="repSenha"></ion-input>
        </ion-item>

      </ion-list>

    </form>

    <div *ngIf="user.facebook==''" class="login-button-div">
      <!--Botão para login com Facebook-->
      <button ion-button icon-left full text-capitalize class="facebook-button" (click)="conectarFace()">
        <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon> Entre com Facebook
      </button>
    </div>
  </div>

</ion-content>
