<ion-header>

  <ion-navbar class="zfix-header" color="laranja">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Feed de Notícias</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles" refreshingText="Carregando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list no-lines [virtualScroll]="publicacoes">
    <ion-item style="padding: 0px;" *virtualItem="let publicacao">
      <!--item-->
      <ion-card style="width:100%;" (press)="acoes(publicacao)">
        <div>
          <img *ngIf="publicacao.LinkImagem != ''" src="{{publicacao.LinkImagem}}">
        </div>
        <ion-card-content>

          <ion-item *ngIf="publicacao.Titulo != ''" text-wrap>
            <ion-card-title>{{ publicacao.Titulo }} </ion-card-title>
          </ion-item>

          <ion-item text-wrap *ngIf="publicacao.Texto != ''">
            {{ publicacao.Texto }}
          </ion-item>
        </ion-card-content>
        <ion-row *ngIf="publicacao.Comentario == true">
          <ion-col>
            <button ion-button icon-left clear small (click)="abrirComentarios(publicacao.IDPublicacao)">
                <ion-icon name="text"></ion-icon>
                <div>Comentar</div>
              </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-fab right bottom *ngIf="permissao == 'a'">
    <button ion-fab class="floating-button-adm" (click)="adicionarPost()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
