<ion-header>

  <ion-navbar class="zfix-header" color="laranja">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Grupos</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-searchbar (ionInput)="getItems($event)" placeholder="Nome do Grupo"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let grupo of grupos" (click)="abrirGrupo(grupo)" (press)="option(grupo)">
      {{ grupo.nome }}
    </ion-item>
  </ion-list>
  <ion-fab right bottom *ngIf="permissao == 'a'">
    <button ion-fab class="floating-button-adm" (click)="adicionarGupo()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>