<ion-header>
  <ion-navbar class="zfix-header" color="laranja">
    <ion-title>Comentários</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <ion-item *ngIf="comentarios.length == 0">
    <h3 class="semPost">Nenhum Comentário</h3>
    <h2 class="semPost">Seja o Primeiro!</h2>
  </ion-item>

  <ion-card *ngFor="let comentario of comentarios" (press)="presentActionSheet(comentario)">
    <ion-item>
      <ion-avatar item-left>
        <img src="{{ comentario.URLFoto }}">
      </ion-avatar>
      <h2>{{ comentario.username }}</h2>
    </ion-item>
    <ion-card-content>
      <p> {{ comentario.Texto }} </p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
    <ion-row>
      <ion-col width-80>
        <ion-item>
          <ion-input type="text" placeholder="Comentar" [(ngModel)]="novoComentario.Texto"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col width-20>
        <button ion-button icon-only clear class="sendbutton" (click)="comentar()"><ion-icon name="send" color="primary" ></ion-icon></button>
      </ion-col>
    </ion-row>
</ion-footer>
