.cit_direita_italico{
  font-style: italic;
  text-align: right;
  margin-bottom: 10px;
}

.cit_direita{
  text-align: right;
  margin-bottom: 10px;
}

.tab_num{
  margin-left: 10px;
}

.negrito{
  font-weight: bold;
}

.tab_num2{
  margin-left: 10px;
}

.refrao_salmo{
  font-weight: bold;
  color: DimGray;
  padding-left: 15px;
}
