page-login {

}
.footer-login{
  padding: 20px;
}
.login-button-div{
  margin-bottom: 20px;
}
.login-button-div button{
  padding: 20px;
}
.google-button{
  background-color: #EA4335;
  font-family: 'Roboto';
  margin-top: 10px;
}
.facebook-button{
  background-color: #3B5998;
  font-family: 'Roboto';
  margin-bottom: 10px;
  left: 3px;
}
.aux-button{
  text-align: center;
  border-color: none;
  font-family: 'Roboto';
  color: rgb(252, 252, 252);
}
