// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//Configurações da aparencia geral do aplicativo
.background{ // plano de fundo Inicial
  background-color: rgb(175, 176, 175);
}
.logo{ // Configuração de logomarca Imagem
  text-align: center;
}
ion-navbar, ion-toolbar{
  background-color: #FFA500
}
.zfix-header{
  z-index: 800;
}
//Configuração de elementos de uso comum
.floating-button button{
  //COR DO BOTÃO
}
.floating-button-adm button{
  //COR DO BOTÃO
}
